html, body {
  height: 100%;
  width: 100%;
}
p {
  margin-left: 3em;
  margin-right: 3em;
  text-align: justify;
}
h3{
  margin-left: 2.5em;
  margin-right: 2.5em;
}
h1{
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

nav{
  text-align: center;
}
figcaption{
  font-size: 14px
}
.story_img{
  width: 50%;
  height: auto;
  max-width: none;
  max-height: 40vh;
  object-fit: contain;
  }

figure{
  text-align: center;
}